@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: mont;
  src: url("../fonts/Mont-ExtraLightDEMO.otf");
}

@font-face {
  font-family: heligthon;
  src: url("../fonts/Heligthon\ Signature.otf");
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-color);
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #feb36e;
  --tertiary-color: #ffab5e;
  --btn-text-color: #010101;
  --linear-grad1: #f6ae71;
  --linear-grad2: #ffffff;
  --linear-grad3: #ffab5e;
  --gray-color: #141414;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-container {
  max-width: 1800px; /* 1789+30 */
}

.title1 {
  /* font-size: 150px; */
  font-size: 7.813vw;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    var(--linear-grad1),
    var(--linear-grad2)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 807px;
}

.gradient {
  background-image: linear-gradient(
    to right,
    var(--linear-grad1),
    var(--linear-grad2)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Header Section */

.header-sec {
  background-color: var(--btn-text-color);
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--tertiary-color), black) 1;
}

.nav-logo > a {
  width: 40px;
}

.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-toggler {
  color: var(--primary-color) !important;
  border-color: var(--linear-grad1) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffab5e' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-link {
  margin-right: 35px;
  color: var(--primary-color);
  font-family: "mont", sans-serif;
  position: relative;
  font-size: 1.146vw;
}

.nav-link::after {
  position: absolute;
  content: "";
  height: 1.3px;
  background: var(--tertiary-color);
  width: 0;
  bottom: -2px;
  left: 0;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

/* For active page */
.navbar-nav .nav-link.active {
  color: var(--primary-color) !important;
}

.navbar-nav .nav-link.active::after {
  width: 100%;
  background: var(--tertiary-color) !important;
}

/*------------*/
.cart {
  width: 26px;
  margin-right: 52px;
}

.cart > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-three-bar-icon {
  width: 48px;
}

.nav-three-bar-icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.count {
  margin-left: 6px;
  color: var(--primary-color);
}

.offcanvas {
  flex-direction: row !important;
  align-items: center;
}

.offcanvas-header {
  border: none;
  background: none;
  color: black;
}

.active {
  color: var(--primary-color) !important;
}

.cross {
  color: var(--primary-color);
}

a.login-btn {
  cursor: pointer;
}

/* Banner section */
.banner-sec {
  background: url(../assets/shop/shop_banner_bg.png) no-repeat center/cover;
  min-height: 30vh;
  padding-block: 72px;
}

.home,
.shop {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 600;
}

.shop-hdr > p {
  margin: 0 10px;
  color: var(--primary-color);
}

.home {
  color: var(--primary-color);
}

.home:hover {
  color: var(--tertiary-color);
  transition: 0.3s linear;
}

.shop {
  color: var(--tertiary-color);
}

/* Shop Section */

.shop-sec {
  padding-block: 100px;
  background-color: var(--gray-color);
  position: relative;
}

/* .shop-row {
  align-items: center;
} */

.left-sort-sec {
  margin-bottom: 32px;
}

.top-button > p {
  color: var(--tertiary-color);
}

.default {
  color: var(--tertiary-color);
}

.next-button {
  margin-left: 70px;
}

.filter-hdr {
  color: var(--tertiary-color);
}

.price-filter > p {
  color: var(--primary-color);
  margin-top: 20px;
  font-size: 20px;
}

.btn-tile {
  color: var(--tertiary-color);
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0 18px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sortitem-btn {
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 18px;
  color: var(--primary-color);
  letter-spacing: 2px;
  padding: 0;
  font-size: 15px;
}

.sortitem-btn:hover {
  transition: 0.2s linear;
  color: var(--linear-grad1);
}

/* Base range input styling */
.price-filter input[type="range"] {
  width: 80%;
  height: 1px;
  background: var(--tertiary-color);
  border-radius: 2px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.price-filter input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--border-color, #b59773);
  cursor: pointer;
}

.p-card {
  margin-bottom: 30px;
}

.p-img {
  max-width: 90px;
  margin-right: 20px;
}

.p-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-cntn {
  color: var(--primary-color);
}

.w-name {
  color: var(--tertiary-color);
  font-size: 15px;
}

.tag {
  margin-bottom: 70px;
}

.tag > p {
  color: var(--primary-color);
}

.input-field {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.fa-magnifying-glass {
  color: var(--tertiary-color);
  position: relative;
  right: 23px;
}

.insta-img {
  max-width: 232px;
}

.insta-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  border: none;
  background: transparent;
}

.card-body {
  text-align: center;
  color: var(--primary-color);
}

.card-body > p,
.card-price {
  font-size: 12px;
}

.card-img {
  max-width: 321px;
  margin: 20px auto;
  /* overflow: hidden; */
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-weight: 500;
  color: var(--tertiary-color);
}

.card:hover .card-img img {
  transform: scale(1.05);
  transition: 0.3s linear;
  box-shadow: 0 0 20px rgba(247, 245, 245, 0.05);
}

.shop-design {
  max-width: 700px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.shop-design > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer Section */
.footer-top-sec {
  padding: 100px 0 20px 0;
  background-color: var(--btn-text-color);
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, var(--tertiary-color), black) 1;
  /* border-top: 1px solid;
  border-image: linear-gradient(to left, var(--tertiary-color), black) 1; */
}

.footer-logo > a {
  width: 108px;
  margin: 0 auto 30px;
  text-align: center;
  display: block;
}

.footer-logo > a > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.foot-link {
  color: var(--tertiary-color);
}

.f-link {
  color: var(--primary-color);
  margin-bottom: 12px;
}

.f-link:hover {
  color: var(--linear-grad1);
}

ul {
  padding: 0;
}

.foot-hdr {
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.footer-btm-sec {
  background-color: var(--btn-text-color);
  padding-block: 30px;
}

.social-icon {
  width: 20px;
  margin-left: 10px;
  transition: 0.3s linear;
}

.social-icon > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.social-icon:hover {
  transform: scale(1.2);
}
.for-align {
  text-align: end;
}

/* .footer-top {
  margin-bottom: 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, var(--tertiary-color), black) 1;
} */

.privacy,
.copyright,
.text-end {
  color: var(--primary-color);
}

.copyright {
  text-align: center !important;
}

.copy-div {
  text-align: center;
}

.f-btm:hover {
  color: var(--linear-grad1);
}

/*---- Media Quary---- */

@media screen and (max-width: 992px) {
  /* Navbar(header) Section */

  .offcanvas {
    flex-direction: column !important;
    background: transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(50px);
  }

  .navbar-nav {
    margin: 100px auto !important;
    text-align: center;
  }

  .nav-link {
    margin-right: 0px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 16px;
  }

  .active {
    color: var(--primary-color) !important;
  }

  .cross {
    font-size: 2rem;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .nav-right {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  /* Shop Section (button sec) */

  .top-button {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .top-button {
    margin: 10px auto;
    text-align: center;
  }
  .short {
    margin: 0 auto !important;
  }

  /* footer-sec */
  .footer-row .col-md-6 {
    text-align: center;
    justify-content: center;
  }

  .social-link > ul {
    justify-content: center !important;
    font-size: 16px;
  }

  .f-btm,
  .text-end {
    text-align: center !important;
    font-size: 12px !important;
  }
}

@media screen and (max-width: 576px) {
  /* Banner Section */
  .home,
  .shop {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
  }

  .top-button > p,
  .default {
    font-size: 13px;
  }

  .card-title {
    font-size: 15px;
  }

  /* Footer-sec */

  .footer-sec {
    padding: 40px 0 20px;
  }
  .footer-logo > a > img {
    width: 70px;
  }

  .foot-hdr {
    font-size: 18px !important;
    margin-bottom: 18px !important;
  }

  .foot-link {
    font-size: 18px !important;
  }

  .f-link {
    font-size: 12px !important;
    margin-bottom: 10px;
  }

  .phone {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 425px) {
  /* Footer-sec */

  .footer-sec {
    padding-block: 30px;
  }

  .footer-logo > a > img {
    width: 50px;
  }
}

/*---------------- For Filter button modal----------- */

.filter {
  background-color: transparent;
  color: var(--linear-grad3);
  border: none;
  border: 1px solid rgb(42, 36, 36);
  margin-right: 10px;
}

/* ===== FILTER MODAL STYLING ===== */
.filter-modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.filter-modal.active {
  display: flex;
}

.filter-modal-content {
  /* background: #fff; */
  background-color: #141414;
  width: 80%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  animation: fadeIn 0.3s ease;
}

.filter-close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  color: #333;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* Login-popup */

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  max-width: 720px;
  background-color: white;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  border: 1px solid #151212;
  border-radius: 10px;
  z-index: 99;
  background: url(../assets/home/form-7-copy.jpg) no-repeat center/cover;
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .cross-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: gray;
  cursor: pointer;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  max-width: 330px;
  width: 100%;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login .form-details {
  /* background: url(../assets/home/login-img.jpg) no-repeat center/cover; */
  color: white;
}

.signup .form-details {
  /* background: url(../assets/home/signup-img.png) no-repeat center/cover; */
  color: white;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #aeaeae;
  font-weight: 600;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
  /* margin-top: 20px; */
}

.form .form-input {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
/* 
.form .form-input,
.form .form-input > input{
    width: 100%;
    height: 100%;
} */

.form .form-input input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 0.95rem;
  border-radius: 50px;
  border: 1px solid rgb(59, 52, 52);
  background-color: #100909; /* added new */
  background-color: #aeaeae;
  background-color: #100909;
  color: var(--linear-grad2);
}

.form-input input:focus {
  border-color: var(--tertiary-color);
}

.form-input input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.form .form-input label {
  position: absolute;
  top: 50%;
  left: 15px;
  pointer-events: none;
  color: rgb(18, 17, 17);
  color: white;
  color: rgb(18, 17, 17);
  color: white;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.form-input input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-120%);
  /* color: rgb(49, 33, 3); */
  color: var(--tertiary-color);
  /* font-weight: 600; */
  margin-left: 4px;
}

#policy {
  margin-right: 6px;
}

.form-box a {
  /* color: orange; */
  color: var(--tertiary-color);
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

.form-box :where(.forgot-pass, .policy-text) {
  margin-top: 15px;
  display: inline-flex;
  font-size: 0.95rem;
}

.form button {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 0;
  border-radius: 50px;
  margin: 25px 0;
  background-color: var(--tertiary-color);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) !important;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.form button:hover {
  background-color: #100909;
}

.form-box .bottom-link {
  text-align: center;
  color: #aeaeae;
}

/* .form-popup .signup,
.form-popup.show-signup .signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
} */

/* Hide login by default when show-signup is active */
.form-popup .signup {
  display: none;
}

.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  align-items: center;
  color: #aeaeae;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 425px) {
  .form-popup {
    width: 75%;
  }

  .form .form-input input {
    font-size: 11px;
  }
  .form .form-input label {
    font-size: 13px;
  }
  .form button {
    padding: 12px;
    font-size: 13px;
  }

  .form-box :where(.forgot-pass, .policy-text),
  .bottom-link {
    font-size: 13px;
  }

  a.fogot-pass {
    text-align: end;
  }
}

/* for overlay */

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

